.container {
  width: 60%;
  margin: 0 auto;


}

@media only screen and (max-width: 600px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}

.title {
  font-weight: bolder;
  font-size: 28px;
  margin: 0px;
}

.title-divider {
  margin: 10px
}

.paragraph {
  margin: 0px;
  font-size: 14px;
}

.divider {
  margin: 20px
}

.social-link {
  margin-right: 9px;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  color: rgb(32, 68, 227);
}
